.todoItem {
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    font-size: 20px;
    max-width: 100%;
    word-wrap: break-word;

}

.deleteButton {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 2rem;
    background-color: #1889da;
    box-shadow: 0 2px 5px #22558f;
    text-align: center;
    padding-top: 2px;

}